# platformio ignores
.pio
.vscode
*.pyc
build
# Files relevant to CMAKE for local version
.cache
libdeps/*
compile_commands.json
# nix lang ignores
.envrc
.direnv

# macOS
wasm_backend/pkg
wasm_backend/target
target/
.DS_Store
*/target/
