# platformio ignores
.pio
.vscode
*.pyc
build
compile_commands.json
# nix lang ignores
.cache
.envrc
.direnv

wasm_backend/pkg
wasm_backend/target
target/
# macOS
.DS_Store
src/wifi_cred.h
src/network/wifi_cred.h
src/network/wifi_cred.hpp
src/network/wifi_cred.hpp
